utp-carrier-dash-load div.carrier-dashboard-load-container {
    width: 98%;
    height: 55px;
    border: 1px solid $blue;
    border-radius: .15em;
    margin: 2px 0 2px 2px;
    background-color: $white;
    padding: 2px;
}

utp-carrier-dash-load div.carrier-dashboard-load-container h5 {
    margin: 2px 0 2px 4px;
}

utp-carrier-dash-load div.carrier-dashboard-load-container p {
    margin: 0 0 2px 4px;
    font-size: .8em;
}

utp-carrier-dash-load div.carrier-dashboard-load-container ul {
    font-size: .8em;
    padding: 0;
    margin: 0 4px;
    list-style-type: none;
}

utp-carrier-dash-load div.carrier-dashboard-load-container ul li {
    display: inline;
}

utp-carrier-dash-load div.carrier-dashboard-load-container ul li span.stop-hrule {
    color: gray;
}

utp-carrier-dash-load div.carrier-dashboard-load-container ul li span.stop-hrule img {
    margin-bottom: -6px;
}
